{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Scan this QR Code with your 2FA app and enter the code</h1>
    <img class="qr" src="{{ qr_code_img }}" alt="QR Code">
    <p class="mono">Your pairing code: {{ user_secret }}</p>
    <form method="POST" action="{{ url_for('verify_2fa_setup') }}">
        <input type="text" name="verification_code" placeholder="Enter 2FA code" required>
        <button type="submit">Verify Setup</button>
    </form>
{% endblock %}
