{% extends "base.html" %}
{% block title %}Send a Message{% endblock %}

{% block content %}
    <h1>📬 Submit a Message to {{ username }}</h1>

    <form method="POST" action="/submit_message/{{ username }}">
        <label for="content">Message</label>
        <textarea id="content" name="content" required></textarea>
        {% if user.pgp_key %}
        <p class="meta">🔒 Your message will be encrypted and only readable by {{ username }}</p>
        {% else %}
            <p class="meta">⚠️ Your message will NOT be encrypted. If this message is sensitive, ask {{ username }} to add a public PGP key.</p>
        {% endif %}
        <button type="submit">Send Message</button>
    </form>
{% endblock %}
